@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,300;1,500;1,700;1,900&display=swap');

:root{
    --background: #001233;
    --background-small: #0A1128;
    --color_font_default: white;
    --important-text-color: #ff4a57;
    --bold: 900;
    --medium: 700;
    --light: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 33px;
}

* img {
    width: 100%;
    height: auto;
}

body{
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}

html {
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    color: var(--color_font_default);
}

a{
    color: var(--color_font_default);
}

/* NAV BAR */



header{
    display: flex;
    padding: 20px 30px;
    background-color: var(--background-small);
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


nav p{
    display: flex;
    font-size: 60px;
    font-weight: var(--bold);
    color: #ff4a57;
    letter-spacing: 2px;
    
}

.toggle{
    flex-direction: column;
    background-color: var(--important-text-color);
    border-radius: 8px;
    display: none;
    width: auto;
    height: auto;
}

.toggle li{
    padding: 3px;
}

.toggle a{
    font-size: 25px;
}


.button_options{
    background-color: var(--background-small);
    outline: white 1px solid;
    font-size: 30px;
    padding: 3px;
    border-radius: 4px;
    transition: all 0.5s;
}

.button_options:hover{
    background-color: var(--color_font_default);
    color: #ff4a57;
    font-size: 30px;
    padding: 3px;
    border-radius: 4px;
}

.menu-toggle{
    display: none;
}

.menu-toggle:checked + .toggle{
    display: block;
    position: absolute;
    top: 80px;
    right: 30px;
    animation: slide_toggle 0.5s;
}



/* Animacion toggle */

@keyframes slide_toggle {

    0% {
        width: 185px;
        height: 0;
    }

    100% {
        width: 185px;
        height: 230px;
    }
    
}


/* SOBRE MI */

.sobre_mi{
    margin: 50px 0 10px 20px;
    display: flex;
    flex-direction: column;
}

.sobre_mi_nombre{
    font-size: 50px;
    font-weight: var(--medium);
}
.sobre_mi_nombre span{
    color: var(--important-text-color);
    font-size: 50px;
}

.sobre_mi div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre_mi_descripcion{
    margin: 0;
}

.container_info_sobre_mi{
    display: flex;
    flex-direction: column;
}

.sobre_mi img{
    height: 260px;
    width: 200px;
    padding: 10px;
}

.cv{
    background-color: var(--important-text-color);
    margin-left: 10px;
    padding: 20px;
    border-radius: 8px;
    transition: all 0.5s;
}

.cv:hover{
    background-color: var(--color_font_default);
    color:var(--important-text-color);
    margin-left: 10px;
    padding: 20px;
    border-radius: 8px;
}

/*  MIS HABILIDADES */ /* COMO TRABAJO ? */

.mis_habilidades_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 40px 0;
}

.mis_habilidades_titulo p{
    color: var(--important-text-color);
    font-size: 30px;
    font-weight: var(--medium);
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    margin: 10px 20px 20px 20px;
    outline: white 1px solid;
    border-radius: 8px;
    transition: all 0.7s;
}

.mis_habilidades p{
    margin-top: 10px;
}

.habilidades:hover{
    background-color: var(--color_font_default);
    color: var(--important-text-color);
    outline: none;
    outline: var(--important-text-color) 1px solid;
}

/* MIS REDES */

.mis_redes_madre{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 150px 0 150px 0;
}

.mis_redes_hijo{
    transform: rotate(45deg);
    animation: rotacion_iconos infinite 6s linear ;
}

.container_iconos i{
    font-size: 80px;
    padding: 40px;
    transform: rotate(-45deg);
    animation: rotacion_hijo infinite 6s linear;
    transition: all 0.5s;
}

@keyframes rotacion_iconos {
    100%{
        transform: rotate(405deg);
    }
}

@keyframes rotacion_hijo {

    100%{
        transform: rotate(-405deg);
    }
    
}

.container_iconos i:hover{
    color: #ff4a57;
}

/* MI PORTFOLIO */

.mi_portfolio_hijo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mi_portfolio_hijo p{

    color: var(--important-text-color);
    font-weight: var(--medium);
    margin-bottom: 40px;

}

/* CONTACTAME - FOOTER */

.contactame_madre{
    background: var(--background-small);
}

.contactame_hijo{
    padding: 50px 0 30px 0;
    margin-top: 70px;
    margin-left: 5px;
}

.contactame_hijo p{
    color: var(--important-text-color);
    font-weight: var(--medium);
    margin-bottom: 20px;
}

.contactame_hijo span{
    color: var(--important-text-color);
    font-size: 30px;
}

.contactame_hijo li{
    font-size: 25px;
}




/* MEDIA QUERY PANTALLA */

@media screen and (min-width: 1224px){


    /* NAV BAR */

    .menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
    }

    .menu label{
        display: none;
    }

    .toggle{
        display: flex;
        background: none;
        flex-direction: row;
        align-items: center;
        margin-right: 30px; /* para que no se me salga de la pantalla */
        width: auto;
        height: 20px;
        gap: 15px;
    }

    .options{
        background-color: var(--background);
        font-size: 30px;
        font-weight: var(--medium);
        transition: all 0.5s;

    }
    .options:hover{
        background-color: var(--background);
        color: var(--important-text-color);
        font-size: 25px;
        font-weight: var(--medium);
    }

    /* SECTION SOBRE MI */

    .sobre_mi{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 100px;
        padding-top: 300px;
        padding-bottom: 300px;
        background-image: url(./fondo1.jpg);
        background-position-y: center;
    }


    .container_info_sobre_mi{
        justify-content: left;
    }    

    .sobre_mi_nombre{
        font-size: 70px;
        
    }
    .sobre_mi_nombre span{
        font-size: 80px;
    }
    .sobre_mi_descripcion{
        font-size: 40px;
    }

    .sobre_mi div{
        display: flex;
        flex-direction: column;
    }


    /* SECTION MIS HABILIDADES */

    .mis_habilidades{
        margin-top: 50px;
    }

    .mis_habilidades_lista{
        display: flex;
        flex-direction: row;
        margin: 50px 0 50px 0;
       
    }

    .mis_habilidades_titulo p{
        font-size: 50px;
        font-weight: var(--medium);
    }   

   


    /* SECTION COMO TRABAJO */

    .como_trabajo_lista {
        display: flex;
        flex-direction: row;
        
    }

    .habilidades{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        min-height: 200px;
    }

    /* MIS REDES */

    .container_iconos i{
        font-size: 100px;
        padding: 70px;
    }

}
